In [1]:
# import 'pandas' package
import pandas as pd

In [2]:
# to read csv file
df = pd.read_csv("Uber_Drives.csv")
df.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [3]:
# some useful attributes and methods
df.dtypes
df.info
df.columns
df.head()
df.tail()
df.describe()

             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

In [4]:
# to convert date string to datetime type
df['START_DATE*'] = pd.to_datetime(df['START_DATE*'], errors='coerce')
df['END_DATE*'] = pd.to_datetime(df['END_DATE*'], errors='coerce')

FILTERATION

In [5]:
# miles > 10miles
# originating from Cary to Durham

# Example-1
e_1 = df[(df['MILES*']>10) & ((df['START*'] == 'Cary') & (df['STOP*'] == 'Durham'))]

# Example-2
e_2 = df.loc[(df['MILES*']>10) & ((df['START*'] == 'Cary') & (df['STOP*'] == 'Durham'))]

# Example-3
e_3 = df.loc[(df['MILES*']>10) & ((df['START*'] == 'Cary') & (df['STOP*'] == 'Durham')), ['START_DATE*', 'END_DATE*']]

RESET INDEXING

In [6]:
# to reset index w/o changing original df
# you need to store it in new variable
v_1 = e_1.reset_index()
print(v_1)

# to reset index and replace with the original df
# set 'True' for 'inplace'
e_2.reset_index(inplace=True)

# to remove the index column 
# set 'True' for 'drop'
e_2.reset_index(drop=True)
print(e_2)

    index         START_DATE*           END_DATE* CATEGORY* START*   STOP*  \
0      28 2016-01-15 11:43:00 2016-01-15 12:03:00  Business   Cary  Durham
1      55 2016-01-29 11:43:00 2016-01-29 12:03:00  Business   Cary  Durham
2      74 2016-02-05 11:47:00 2016-02-05 12:07:00  Business   Cary  Durham
3     164 2016-02-26 11:35:00 2016-02-26 11:59:00  Business   Cary  Durham
4     185 2016-03-04 11:46:00 2016-03-04 12:06:00  Business   Cary  Durham
5     304 2016-04-08 12:30:00 2016-04-08 12:48:00  Business   Cary  Durham
6     325 2016-04-22 12:08:00 2016-04-22 12:28:00  Business   Cary  Durham
7     339 2016-04-29 18:46:00 2016-04-29 19:18:00  Business   Cary  Durham
8     394 2016-06-03 11:29:00 2016-06-03 11:49:00  Business   Cary  Durham
9     411 2016-06-06 21:41:00 2016-06-06 22:00:00  Business   Cary  Durham
10    413 2016-06-07 21:42:00 2016-06-07 22:00:00  Business   Cary  Durham
11    424 2016-06-10 21:47:00 2016-06-10 22:04:00  Business   Cary  Durham
12    429 2016-06-11 21:45:00 2016-06-11 22:04:00  Business   Cary  Durham
13    490 2016-06-28 20:13:00 2016-06-28 20:33:00  Business   Cary  Durham
14    497 2016-06-29 20:11:00 2016-06-29 20:29:00  Business   Cary  Durham
15    503 2016-07-01 20:06:00 2016-07-01 20:24:00  Business   Cary  Durham
16    505 2016-07-02 20:18:00 2016-07-02 20:36:00  Business   Cary  Durham
17    513 2016-07-04 20:00:00 2016-07-04 20:17:00  Business   Cary  Durham
18    593 2016-07-23 20:17:00 2016-07-23 20:33:00  Business   Cary  Durham
19    609 2016-07-30 17:02:00 2016-07-30 17:27:00  Business   Cary  Durham
20    644 2016-08-10 16:56:00 2016-08-10 17:24:00  Business   Cary  Durham
21    816 2016-10-16 12:52:00 2016-10-16 13:11:00  Business   Cary  Durham
22    851 2016-10-24 14:57:00 2016-10-24 15:26:00  Business   Cary  Durham
23    867 2016-10-28 11:34:00 2016-10-28 11:52:00  Business   Cary  Durham
24    887 2016-11-01 11:50:00 2016-11-01 12:27:00  Business   Cary  Durham
25    973 2016-11-19 13:51:00 2016-11-19 14:10:00  Business   Cary  Durham
26    997 2016-11-25 11:47:00 2016-11-25 12:04:00  Business   Cary  Durham

    MILES*        PURPOSE*
0     10.4  Meal/Entertain
1     10.4         Meeting
2     10.4         Meeting
3     10.6         Meeting
4     10.4         Meeting
5     10.5         Meeting
6     10.4         Meeting
7     14.2  Customer Visit
8     10.4         Meeting
9     10.4         Meeting
10    10.4         Meeting
11    10.4         Meeting
12    10.4         Meeting
13    10.4         Meeting
14    10.4         Meeting
15    10.5         Meeting
16    10.1         Meeting
17    11.8         Meeting
18    10.4         Meeting
19    14.0             NaN
20    12.9             NaN
21    10.5         Meeting
22    16.4             NaN
23    10.4         Meeting
24    16.5             NaN
25    10.3         Meeting
26    10.3         Meeting
    index         START_DATE*           END_DATE* CATEGORY* START*   STOP*  \
0      28 2016-01-15 11:43:00 2016-01-15 12:03:00  Business   Cary  Durham
1      55 2016-01-29 11:43:00 2016-01-29 12:03:00  Business   Cary  Durham
2      74 2016-02-05 11:47:00 2016-02-05 12:07:00  Business   Cary  Durham
3     164 2016-02-26 11:35:00 2016-02-26 11:59:00  Business   Cary  Durham
4     185 2016-03-04 11:46:00 2016-03-04 12:06:00  Business   Cary  Durham
5     304 2016-04-08 12:30:00 2016-04-08 12:48:00  Business   Cary  Durham
6     325 2016-04-22 12:08:00 2016-04-22 12:28:00  Business   Cary  Durham
7     339 2016-04-29 18:46:00 2016-04-29 19:18:00  Business   Cary  Durham
8     394 2016-06-03 11:29:00 2016-06-03 11:49:00  Business   Cary  Durham
9     411 2016-06-06 21:41:00 2016-06-06 22:00:00  Business   Cary  Durham
10    413 2016-06-07 21:42:00 2016-06-07 22:00:00  Business   Cary  Durham
11    424 2016-06-10 21:47:00 2016-06-10 22:04:00  Business   Cary  Durham
12    429 2016-06-11 21:45:00 2016-06-11 22:04:00  Business   Cary  Durham
13    490 2016-06-28 20:13:00 2016-06-28 20:33:00  Business   Cary  Durham
14    497 2016-06-29 20:11:00 2016-06-29 20:29:00  Business   Cary  Durham
15    503 2016-07-01 20:06:00 2016-07-01 20:24:00  Business   Cary  Durham
16    505 2016-07-02 20:18:00 2016-07-02 20:36:00  Business   Cary  Durham
17    513 2016-07-04 20:00:00 2016-07-04 20:17:00  Business   Cary  Durham
18    593 2016-07-23 20:17:00 2016-07-23 20:33:00  Business   Cary  Durham
19    609 2016-07-30 17:02:00 2016-07-30 17:27:00  Business   Cary  Durham
20    644 2016-08-10 16:56:00 2016-08-10 17:24:00  Business   Cary  Durham
21    816 2016-10-16 12:52:00 2016-10-16 13:11:00  Business   Cary  Durham
22    851 2016-10-24 14:57:00 2016-10-24 15:26:00  Business   Cary  Durham
23    867 2016-10-28 11:34:00 2016-10-28 11:52:00  Business   Cary  Durham
24    887 2016-11-01 11:50:00 2016-11-01 12:27:00  Business   Cary  Durham
25    973 2016-11-19 13:51:00 2016-11-19 14:10:00  Business   Cary  Durham
26    997 2016-11-25 11:47:00 2016-11-25 12:04:00  Business   Cary  Durham

    MILES*        PURPOSE*
0     10.4  Meal/Entertain
1     10.4         Meeting
2     10.4         Meeting
3     10.6         Meeting
4     10.4         Meeting
5     10.5         Meeting
6     10.4         Meeting
7     14.2  Customer Visit
8     10.4         Meeting
9     10.4         Meeting
10    10.4         Meeting
11    10.4         Meeting
12    10.4         Meeting
13    10.4         Meeting
14    10.4         Meeting
15    10.5         Meeting
16    10.1         Meeting
17    11.8         Meeting
18    10.4         Meeting
19    14.0             NaN
20    12.9             NaN
21    10.5         Meeting
22    16.4             NaN
23    10.4         Meeting
24    16.5             NaN
25    10.3         Meeting
26    10.3         Meeting

SORTING

In [7]:
# Example-1
print(df.sort_values(by='MILES*', ascending=True).head())

# Example-2
print(df.sort_values(by=['CATEGORY*', 'MILES*'], ascending=[False, False]).head())

             START_DATE*           END_DATE* CATEGORY*      START*  \
420  2016-06-08 17:16:00 2016-06-08 17:18:00  Business        Soho
44   2016-01-26 17:27:00 2016-01-26 17:29:00  Business        Cary
120  2016-02-17 16:38:00 2016-02-17 16:43:00  Business  Katunayaka
1111 2016-12-25 00:10:00 2016-12-25 00:14:00  Business      Lahore
1110 2016-12-24 22:04:00 2016-12-24 22:09:00  Business      Lahore

           STOP*  MILES*         PURPOSE*
420      Tribeca     0.5  Errand/Supplies
44          Cary     0.5  Errand/Supplies
120   Katunayaka     0.5  Errand/Supplies
1111      Lahore     0.6  Errand/Supplies
1110      Lahore     0.6  Errand/Supplies
            START_DATE*           END_DATE* CATEGORY*        START*  \
559 2016-07-17 12:20:00 2016-07-17 15:25:00  Personal         Boone
554 2016-07-16 15:29:00 2016-07-16 16:57:00  Personal       Newland
552 2016-07-16 13:14:00 2016-07-16 14:10:00  Personal    Banner Elk
280 2016-03-28 19:30:00 2016-03-28 20:23:00  Personal  Couples Glen
281 2016-03-28 22:55:00 2016-03-28 23:26:00  Personal       Orlando

          STOP*  MILES* PURPOSE*
559        Cary   180.2  Commute
554       Boone    41.9      NaN
552     Newland    28.1      NaN
280  Vista East    27.2      NaN
281   Kissimmee    25.7      NaN